.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
nav ul a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.App-title {
  font-size: 1.5em;
}
.card-title{
  color: #000 !important;
}
.App-intro {
  font-size: large;
}
.btn {
  background-color: #0f2d4c !important;
}
.btn:hover, .btn-large:hover{
  background-color: #0f2d4c;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.modal {
  position: fixed;
  top: 20%;
  height: 35%;
  z-index: 10;
  display: none;
}
.card-title{
  color: #fff !important;
  font-size: 1.3em;
  height: 2.2em;
  margin-top: 1em
}
.input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #cddbe8;
    box-shadow: 0 1px 0 0 #0f2d4c;
}
.card-panel{
  background-color: #163e67;
  height: 21em
}
.material-icons{
  color: white !important;
}
.white-text-custom{
  font-size: 0.9em;
  margin-top: 2em;
  height: 6em;
  color: white;
}