.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.card-title{
  color: #000 !important;
}
.App-intro {
  font-size: large;
}
.btn {
  background-color: #0f2d4c !important;
}
.btn:hover, .btn-large:hover{
  background-color: #0f2d4c;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
